@charset "UTF-8";
/* @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap'); */
* {
    font-family: poppins-light, sans-serif;
}
body {
    width: 100%;
}
/*------ Cabeçalho ------ */
header {
    display: grid;
    min-height: 450px;
    /* background-color: #320B66; */
    background: url(../_img/slide-header.jpg);
        background-size: cover;
}
.logo {
    position: absolute;
    padding-top: 20px;
    margin-left: 20px;
    width: 150px;
    margin-right: 300px;
    z-index: 10;
}
.burger {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    top: 20px;
    right: 20px;
    z-index: 10;
    opacity: 0.9;
}
.burger div {
    width: 35px;
    height: 8px;
    margin-bottom: 3px;
    border-radius: 5px;
    border: 2px solid #fff;
    background: none;
    transition: .5s;
}
.burger-x {
    top: 30px;
}
.burger-x div {
    width: 40px;
    transition: .4s ease-in-out;
}
.burger #ultimo-burger {
    margin-bottom: 0px !important;
}
.burger-x #primeiro-burger {
    transform: rotate(38deg);
}
.burger-x #segundo-burger {
    display: none;
}
.burger-x #ultimo-burger {
    transform: translateY(-11px) rotate(-38deg);
}
.menu {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-100%);
    background-color: #000B33;
    transition: transform .5s;
    z-index: 1;
}
.menu-open {
    transform: translateX(0%);
    position: fixed;
    transition: transform .5s;
}
.menu li {
    margin: 15px;
}
.menu li a{
    font-family: poppins-regular;
    font-size: 22pt;
    color: #fff;
    padding: 10px;
}
#btn-login {
    border: 2.4px solid #1750A0;
    border-radius: 50px;
    padding: 5px 40px;
    transition: border .3s;
}
.header-welcome {
    color: white;
    display: block;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.header-welcome .celular-header {
    display: none;
}
.header-welcome h4 {
    font-family: poppins-semibold;
    line-height: 35px;
    color: #FF9E24;
    font-size: 26pt;
}
#txt-alta {
    margin-bottom: 10px;
}
.header-welcome p {
    line-height: 30px;
}
.header-welcome p span {
    color: #FF9E24;
}
.header-welcome a {
    color: white;
}
.header-welcome .veja-abaixo {
    font-size: 11pt;
    display: inline-block;
    padding: 10px 35px;
    margin-top: 10px;
    border-radius: 50px;
    background-color: #FF9E24;
}
/* ------ Fim do cabeçalho ------ */

/* ------ Corpo da Página ------ */
section {
    text-align: center;
}
/*---- Planos ----*/
section .title-planos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: inline-flex;    
}
section .title-planos h3 {
    font-size: 19pt;
}
section .title-planos div {
    width: 16%;
    height: 3px;
    background-color: #FF9E24;
}
.planos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 60px 20px;
}
.planos .box-plano {
    position: relative;
    margin-top: 60px;
    width: 220px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.planos .box-plano::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(../_img/price_bg.png) no-repeat;
    background-size: 100%;
}
.planos .box-plano .plan-center {
    /* margin: 50px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.planos .box-plano .titulo-plan {
    font-family: poppins-light;
    font-size: 25pt;
    font-weight: 300;
    color: white;
    display: inline-block;
}
@media screen and (max-width: 300px) {
    .planos .box-plano .titulo-plan {
        font-size: 18pt;
    }
}
.planos .box-plano .preco-plan {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
    color: white;
}
.planos .box-plano .plan-center .underline-plan {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: -22px;
}
.planos .box-plano .preco-plan p:first-child {
    margin-top: -46px;
    margin-right: 5px;
    font-size: 18pt;
}
.planos .box-plano .preco-plan #p-meio-plan{
    font-family: poppins-extralight;
    font-size: 70pt;
}
.planos .box-plano .preco-plan p:last-child {
    margin-top: 38px;
    font-size: 16pt;
}
.planos .plano-familiar .preco-plan p:first-child { /*Margem do Real no plano familiar*/
    margin-right: -5px;
}
.planos .plano-plus .preco-plan p:first-child { /*Margem do Real no plano plus*/
    margin-right: 0px;
}
@media screen and (max-width: 280px) {
    .planos .box-plano .preco-plan p:first-child {
        font-size: 12pt;
    }
    .planos .box-plano .preco-plan #p-meio-plan{
        font-size: 60pt;
    }
    .planos .box-plano .preco-plan p:last-child {
        font-size: 14pt;
    }
}
@media screen and (min-width: 360px) {
    .planos .box-plano {
        width: 280px;
        height: 490px;
    }
}
.planos .box-back-planos {
    position: absolute;
    background: url(../_img/price_bg.png) no-repeat;
    background-size: 100%;
    width: 100%;
    height: 60%;
}
.descricao-plan {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.descricao-plan .line-plan {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    display: inline-flex;
}
.descricao-plan .line-plan i {
    font-size: 9pt;
    width: 20px;
    margin-right: 3px;
}
.btn-comprar {
    width: 40px;
    height: 40px;
    margin-top: 25px;
    background: none;
    border: none;
    z-index: 1;
}
.planos .plano-basico {
    background-image: linear-gradient(#FF9E24, #E74A4C);
}

.planos .plano-familiar {
    background-image: linear-gradient(#E84A4B, #700D7D);
}
.planos .plano-plus {
    background-image: linear-gradient(#1750A0, #211053);
}
/*--- Termina os planos ---*/

/*--- Começa Internet Ilimitada ---*/
.internet-ilimitada {
    width: 100%;
    min-height: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #261E45;
}
.internet-ilimitada .box-center {
    margin: 5px;
}
.title-internet-ilimitada {
    font-size: 27pt;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title-internet-ilimitada h3 {
    font-weight: lighter;
}
.title-internet-ilimitada::after {
    content: '';
    width: 15%;
    height: 3px;
    background-color: #FF9E24;
}
.texto-internet-ilimitada {
    margin: 20px 0;
}
.botao-internet-ilimitada {
    padding: 5px 28px;
    border-radius: 50px;
    border: 2px solid #1750A0;
    background: none;
    color: white;
}
@media screen and (max-width: 365px) {
    .title-internet-ilimitada {
        font-size: 24pt;
    }
    .title-internet-ilimitada h3 {
        font-size: 25pt;
    }
    .texto-internet-ilimitada {
        font-size: 10pt;
    }
}
/*--- Termina Internet Ilimitada ---*/

/*--- Começa Como Funciona ---*/
.como-funciona {
    margin: 50px 0;
}
.como-funciona .title-como-funciona h3 {
    font-size: 27pt;
    font-weight: lighter;
}
.passo-a-passo-como-funciona {
    margin: 0 10px 30px 10px;
}
.passo-a-passo-como-funciona .etapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.passo-a-passo-como-funciona .etapa::after {
    content: '';
    background: url(../_img/seta.svg);
}
.passo-a-passo-como-funciona .etapa p {
    padding: 0px;
    font-family: poppins-medium;
    font-size: 110pt;
    color: rgba(0, 0, 0, 0.144);
    display: block;
}
.passo-a-passo-como-funciona .etapa svg {
    margin-top: -38px;
    height: 50px;
    fill: #8635EC;
}
.passo-a-passo-como-funciona .etapa div p {
    margin-top: 7px;
    font-family: poppins-light;
    font-size: 20pt;
    color: black;
}
.passo-a-passo-como-funciona .etapa div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.passo-a-passo-como-funciona .etapa div .line {
    width: 20%;
    height: 3px;
    background-color: #FF9E24;
}
.last-txt-como-funciona {
    margin: 0 70px;
    font-size: 14pt;
}
.como-funciona .botao-baixar-app {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 40px;
    border-radius: 50px;
    color: white;
    font-size: 10.5pt;
    font-family: poppins-regular;
    background-color: #FF9E24;
}
/*--- Termina Como Funciona ---*/

/*--- Começa Saiba Mais ---*/
.saiba-mais {
    width: 100%;
    background-image: linear-gradient(#E74A4C, #710E7C);
    color: white;
    overflow: hidden;
}
.center-saiba-mais {
    margin: 100px 20px;
}
.title-saiba-mais h3 {
    font-family: poppins-extralight;
    font-weight: normal;
    font-size: 45pt;
}
.spec-saiba-mais {
    margin-top: 50px;
}
.spec-saiba-mais .spec {
    margin-top: 55px;
}
.spec-saiba-mais .spec .icon-spec svg {
    width: 80px;
}
.spec-saiba-mais .spec .title-spec {
    margin-top: 5px;
    font-weight: normal;
    font-size: 30pt;
}
.spec-saiba-mais .spec p {
    font-size: 18pt;
    margin: 0 22px;
    color: rgba(255, 255, 255, 0.5);
}
/*--- Termina Saiba Mais ---*/

/*--- Começa Ficou Alguma Dúvida ---*/
.center-ficou-alguma-duvida {
    margin: 100px 10px;
}
.center-ficou-alguma-duvida .title h3{
    margin: 20px 0 10px 0;
    font-size: 24pt;
    font-weight: normal;
    font-family: poppins-extralight;
}
.center-ficou-alguma-duvida .txt {
    margin: 0 20px;
    font-size: 13pt;
    color: rgba(0, 0, 0, 0.561);
}
.center-ficou-alguma-duvida .btn {
    display: inline-block;
    margin-top: 20px;
    color: white;
    padding: 10px 40px;
    border-radius: 50px;
    background-color: #FF9E24;
}
/*--- Termina Ficou Alguma Dúvida ---*/
/* ----------------- Termina Corpo ------------------------ */

/* ----------------- Começa Rodapé ------------------------ */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #710E7C;
}
footer .center-footer {
    display: flex;
    flex-direction: column;
    margin: 50px 5px 5px 5px;
}
.center-footer .garantia p {
    color: white;
    font-size: 18pt;
    font-family: poppins-extralight;
}
.center-footer .pay {
    margin-top: 20px;
}
.center-footer .pay img {
    width: 200px;
}
.center-footer .redes-sociais {
    margin: 60px 0 10px 0;
}
.center-footer .redes-sociais a svg {
    display: inline-block;
    height: 30px;
    fill: white;
}
.center-footer .copyright {
    color: white;
    font-size: 11pt;
    opacity: 0.8;
}
.center-footer .copyright p {
    /* margin: 0 50px; */
    font-family: poppins-extralight;
}
/* ----------------- Termina Rodapé ------------------------ */